---
import BaseLayout from "../../layouts/BaseLayout.vue";
import BlogList from "../../components/BlogList.vue";
---

<html lang="zh-Hant">
  <head>
    <title>部落格文章 | Sherry</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-950 min-h-screen font-['Montserrat']">
    <BaseLayout>
      <BlogList client:only="vue" />
    </BaseLayout>
  </body>
</html>
