---
import BaseLayout from "../../layouts/BaseLayout.vue";
import PortfolioList from "../../components/PortfolioList.vue";
---

<html lang="zh-Hant">
  <head>
    <title>作品集展示 | Sherry</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-950 min-h-screen font-['Montserrat']">
    <BaseLayout>
      <PortfolioList client:only="vue" />
    </BaseLayout>
  </body>
</html>
